@use "src/index.scss" as c;

.sheetinterface__notes__note {
  border-radius: 16px;
  text-align: left;
  position: relative;
  box-shadow: 6px 5px 15px -10px rgba(0, 0, 0, 0.4);
  background-color: white !important;
  width: 48.5%;
  .note__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem;
    &__title {
      display: flex;
      align-items: center;
      margin: 1.5rem 0.5rem 1rem 0rem;
    }
    .pi-trash {
      color: rgb(204, 54, 54);
      cursor: pointer;
    }
  }
  .note__content {
    min-height: 3rem;
    max-height: 19rem;
    padding: 0.5rem 1rem 0 1rem;
    margin-bottom: 1rem;
    overflow: auto;
    p {
      margin: 0.5rem 0;
    }
    pre.ql-syntax {
      padding: 0.5rem 2rem 0.5rem 0.5rem;
      border-radius: 5px;
      background-color: #23241f;
      color: #f8f8f2;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      .clip.pi.pi-copy {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
.dialog__note {
  z-index: 1102;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  &__content {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 90%;
    width: 60%;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: 0 none;
    overflow: scroll;
    .p-editor-container {
      .p-editor-content {
        background-color: white;
        min-height: 15rem;
        border-radius: 6px 6px 0 0;
      }
    }
  }
}

.ql-font,
// .ql-color,
// .ql-background,
.ql-image
// .ql-code-block
{
  display: none !important;
}
