.sheetinterface {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__notes {
    padding: 4rem 0rem 5rem 0rem;
    width: 100%;
    grid-gap: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem;
    justify-content: center;
  }
  &__top {
    padding: 0.75rem 0rem 0.75rem 1rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
    width: 95%;
    box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 1050px) {
  .sheetinterface__notes {
    flex-direction: column;
    &__note {
      width: 100% !important;
    }
  }
}
