@use "src/index.scss" as c;

.inputandbutton {
  display: flex;
  position: relative;
  width: fit-content;
  input {
    height: 2rem;
    border-radius: 30px;
    display: flex;
    align-self: center;
    border: 1px solid c.$main-color;
    text-align: center;
    outline: none;
  }
  .icon-proposition {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}
